nuocngavidai.duckdns.org {

    encode gzip

    handle /health {
        respond "OK" 200
    }

    # API (KHÔNG strip path)
    handle /api/* {
        reverse_proxy backend:3000
    }

    # Socket
    handle /socket.io/* {
        reverse_proxy backend:3000
    }

    # Frontend
    handle {
        reverse_proxy frontend:80
    }
}