nuocngavidai.duckdns.org {

    encode gzip

    # API → backend
    @api {
        path /api/*
    }
    reverse_proxy @api backend:3000

    # Socket → backend
    @socket {
        path /socket.io/*
    }
    reverse_proxy @socket backend:3000

    # Frontend → nginx
    reverse_proxy frontend:80
}